<h1>Starlite Pharmacy: Your Solution for prescription delivery!</h1>

<div>Browse through our respectable collection of {{ numberofMeds }} medications! wow!!</div>

{# 
    it looks like this structure is necessary??
#}